<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Marca</th>
          <th>Linea</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of vehiculos">
          <td>{{ v.id }}</td>
          <td>{{ v.marca }}</td>
          <td>{{ v.linea }}</td>
          <td>{{ v.modelo }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Totales por marca -->
    <div class="mt-3">
      <p *ngIf="totalesPorMarca['Renault']"><strong>Total Renault:</strong> {{ totalesPorMarca['Renault'] }}</p>
      <p *ngIf="totalesPorMarca['Chevrolet']"><strong>Total Chevrolet:</strong> {{ totalesPorMarca['Chevrolet'] }}</p>
      <p *ngIf="totalesPorMarca['Nissan']"><strong>Total Nissan:</strong> {{ totalesPorMarca['Nissan'] }}</p>
    </div>
  </div>
</div>